torch-ema
ninja
trimesh
opencv-python==4.9.0.80
tensorboardX
numpy==1.23.5
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
packaging
scipy
scikit-learn

face_alignment
python_speech_features
numba
resampy
#pyaudio
soundfile==0.12.1
einops==0.8.1
configargparse

lpips==0.1.3

transformers==4.46.2
edge_tts
flask
flask_sockets
aiortc
aiohttp_cors

ffmpeg-python
omegaconf
diffusers==0.30.2
accelerate==0.28.0

librosa==0.11.0
openai
websocket-client
websockets==12.0
#gradio_client
#azure-cognitiveservices-speech

typeguard==2.13.3
onnxruntime-gpu

tensorflow==2.12.0
tensorboard==2.12.0
huggingface_hub==0.30.2
gradio==5.24.0

gdown
requests
imageio[ffmpeg]
moviepy
